MONGOADMIN=
MONGOPASS=
MONGOURL=mongodb://ADMIN:PASS@mongodb:27017/appointments?authSource=admin
NODE_ENV=development
PORT=3012
RABBIT_USERNAME=
RABBIT_PASSWORD=
RABBIT_HOST=rabbitmq
RABBIT_PORT=5672
RABBIT_VHOST=
JWT_SECRET=
VITE_JWT_SECRET=
KAFKA_HOST=localhost:9092
DRAGONFLY_HOST=dragonfly
DRAGONFLY_PORT=6379
OPEN_WEATHER_API_KEY=
